<html>
<head><title>Hello Ashif and Khurram from Ansible!! </title></head>
<body>
<H1>Congratulations!!! </H1>
<p> Nice Job {{ username }} !!! you have successfully ran your first 	playbook using jinja 2 !! lets party</p>
</body>
</html>